[submodule "octopus"]
	path = octopus
	url = git@github.com:rahilkaiser/octopus.git
[submodule "CIHP_PGN"]
	path = CIHP_PGN
	url = git@github.com:rahilkaiser/CIHP_PGN.git
[submodule "semantic_human_texture_stitching"]
	path = semantic_human_texture_stitching
	url = https://github.com/rahilkaiser/semantic_human_texture_stitching.git
[submodule "deep-motion-editing"]
	path = deep-motion-editing
	url = https://github.com/rahilkaiser/deep-motion-editing.git
[submodule "RigNet"]
	path = RigNet
	url = git@github.com:rahilkaiser/RigNet.git
